* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(90deg, rgb(39, 39, 78) 30%, rgb(161, 161, 161));
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

nav h1 a {
    text-decoration: none;
    color: beige;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 5px;
}

nav ul li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;

}

nav div {
    background-color: white;
    border-radius: 20px;
    height: 60%;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav div input {
    width: 60%;
    text-decoration: none;
    border-style: none;

}

nav div button {
    color: beige;
    border-style: none;
    background-color: rgb(3, 65, 65);
    font-size: 0.8rem;
    width: 15%;
    height: 75%;
    border-radius: 5px;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(60deg, rgba(22, 250, 212, 0.4) 10%, rgba(160, 154, 154, 0)), url("https://images7.alphacoders.com/716/thumb-1920-716104.jpg");
    height: 100vh;
    background-repeat: no-repeat;
}

#container {
    margin: 10px;
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: stretch;
}

#content-social {
    margin-left: 10px;
    width: 5%;
    height: 100%;
}

#content-social #line {
    margin: auto;
    height: 50%;
    width: 3px;
    background-color: black;
}

#content-social #social div {
    padding: 20px;
}

img {
    width: 40px;
}

#content-main {
    margin-left: 10px;
    width: 60%;
    height: 100%;
    font-size: x-large;
    color: black;
    padding-top: 200px;
    padding-left: 100px;
    display: block;
}

#content-main div {
    margin: 10px 0;
}

#content-main div p {
    width: 500px;
    text-align: justify;

}

#content-main div button {
    text-decoration: none;
    background-color: rgb(137, 208, 255);
    margin-top: 50px;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

#content-blank {
    border: 2px dashed black;
    margin-left: 10px;
    width: 30%;
    height: 100%;
}



/* About.html */


nav span {
    width: 450px;
    text-decoration: none;
    background: none;
}

#about-content-main {
    margin-left: 10px;
    padding-left: 40px;
    width: 90%;
    height: 100%;
    font-size: 50px;
    color: white;
    display: block;
}

#about-content-main div p {
    margin: 10px 0;
    color: white;
    font-size: 30px;
    width: 90%;
    text-align: justify;
    background-color: rgba(7, 7, 7, 0.5);
}

#about-our-team {
    background-color: rgba(7, 7, 7, 0.5);
    display: flex;
    width: 89%;
    margin: 20px;
    padding: 20px;
    align-items: center;
}