* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(90deg, rgb(39, 39, 78) 30%, rgb(161, 161, 161));
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 5px;
}

nav ul li a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;

}
nad


body{
    background-image: url("https://wallpaperaccess.com/full/1878518.jpg");
    width: 100%;
    background-repeat: no-repeat;
}