* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(90deg, rgb(39, 39, 78) 30%, rgb(161, 161, 161));
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

nav h1 a {
    text-decoration: none;
    color: beige;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 5px;
}

nav ul li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;

}

nav div {
    background-color: white;
    border-radius: 20px;
    height: 60%;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav div input {
    width: 60%;
    text-decoration: none;
    border-style: none;
    margin: auto;
    outline: none;
}

nav div button {
    color: beige;
    border-style: none;
    background-color: rgb(3, 65, 65);
    font-size: 0.8rem;
    width: 15%;
    height: 75%;
    border-radius: 5px;
    margin: auto;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(60deg, rgba(22, 250, 212, 0.4) 10%, rgba(160, 154, 154, 0)), url("https://images7.alphacoders.com/716/thumb-1920-716104.jpg");
    height: 100vh;
    background-repeat: repeat;
}

#container {
    margin: 10px;
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: stretch;
}

#content-social {
    margin-left: 10px;
    width: 5%;
    height: 100%;
}

#content-social #line {
    margin: auto;
    height: 50%;
    width: 3px;
    background-color: black;
}

#content-social #social div {
    padding: 20px;
}

img {
    width: 40px;
}

#content-main {
    margin-left: 10px;
    width: 60%;
    height: 100%;
    font-size: x-large;
    color: black;
    padding-top: 200px;
    padding-left: 100px;
    display: block;
}

#content-main div {
    margin: 10px 0;
}

#content-main div p {
    width: 500px;
    text-align: justify;

}

#content-main div button {
    text-decoration: none;
    background-color: rgb(137, 208, 255);
    margin-top: 50px;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

#content-blank {
    /* border: 2px dashed black; */
    margin-left: 10px;
    width: 30%;
    height: 90%;
    overflow:scroll;
    scrollbar-width: none;
    border-radius: 15px;

}

.search-card {
    border-radius: 15px;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 1px;
    color: white;
    background-color: rgba(7, 7, 7, 0.5);
}

.content-img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}




/* About.html */


nav span {
    width: 450px;
    text-decoration: none;
    background: none;
}

#about-content-main {
    margin: 50px;
    padding-left: 40px;
    width: 90%;
    height: 100%;
    color: white;
    display: block;
}

#about-content-main div h1 {
    font-size: 70px;
}


#about-content-main div p {
    margin: 20px 0;
    color: white;
    font-size: 30px;
    width: 90%;
    text-align: justify;
    background-color: rgba(7, 7, 7, 0.5);
}

#about-our-team {
    background-color: rgba(7, 7, 7, 0.5);
    display: flex;
    justify-content: space-between;
    width: 89%;
    height: 50%;
    margin: 50px 10px;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
}

#text-our-team {
    width: 35%;
    font-size: 50px;
}

.team-card {
    width: 20%;
    height: 80%;
    margin: 3px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.name {
    margin: 5px 0 0 0;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

#about-our-team div p {
    width: 100%;
    font-size: 0.8rem;
    margin: 5px 0 15px 0;
    opacity: 0.9;
}

.role-btn {
    width: 100%;
    padding: 10px 0;
    background: #1d3bd8;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}


/* Contact us page */


#contact-content-main {
    padding: 20px;
    font-size: 30px;
    width: 40%;
    margin: auto;

}

#contact-content-form {
    margin: auto;
    width: 40%;
    height: 50%;
    background-color: rgba(38, 29, 96, 0.6);
    color: #fff;
    font-size: 2rem;
    left: 5px;
    padding: 25px;
}

/* #contact-content-form  */

#contact-content-form form label {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#contact-content-form form input,
textarea {
    display: flex;
    align-items: center;
    color: white;
    border: 2px solid white;
    background-color: rgba(38, 29, 96, 0.6);
    margin-top: 10px;
    padding-left: 5px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

textarea {
    height: 100px;
}

button {
    width: 100%;
    height: 30px;
    border: none;
    background-color: rgb(9, 75, 48);
    color: #fff;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 20px;
}