* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(90deg, rgb(39, 39, 78) 30%, rgb(161, 161, 161));
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

nav h1 {
    color: beige;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 5px;
}

nav ul li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;

}

nav div {
    background-color: white;
    border-radius: 20px;
    height: 60%;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav div input {
    width: 60%;
    text-decoration: none;
    border-style: none;

}

nav div button {
    color: beige;
    border-style: none;
    background-color: rgb(3, 65, 65);
    font-size: 0.8rem;
    width: 15%;
    height: 75%;
    border-radius: 5px;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(60deg, rgba(22, 250, 212, 0.5) 0%, rgba(160, 154, 154, 0)), url("https://images7.alphacoders.com/716/thumb-1920-716104.jpg");
    height: 100vh;
    background-repeat: no-repeat;
}

#container {
    margin: 10px;
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: stretch;
}

#content-social {
    width: 10%;
    height: 100%;
    border: 1px;
}

#content-main {
    width: 60%;
    border: 1px;
    height: 100%;
}

#content-blank {
    border: 1px;
    width: 30%;
    height: 100%;
}